# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.yarn/
.yarn/cache/
.expo/
dist/
web-build/

# Mobile
android/
ios/

# Expo
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxproj
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/
ios/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# misc
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
